/* Style sheet Task 0 */

/* Body (page content) ************/

body {
	display: flex;
	flex-direction: column;
	width: 1400px;
	height: 3006px;
	margin: 0;
}


/* Header **************/

header {
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: 1103px;
	height: 29px;
	margin-left: 201px;
	margin-right: 199px;
	margin-top: 30px;

}

.banner {
	display: flex;
}
