/* Style Sheet - Building Blocks of Web Page */


/* Variables ====================== */

:root {
	/* color variables */
	
	--color-primary:  #FF6565;
	--color-black:  #090909;
	--color-white: #ffffff;
	--color-navy:  #071629;

	/* font variables */

	--font-size-small: 12px;
	--font-size-medium: 16px;
	--font-size-xlarge: 32px;
	--font-size-button: 14px;
	--font-family-primary: 'Source Sans Pro', 'Lato', sans-serif;
}

/* Styling ===================== */

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	width: 100%;
	background: transparent;
	position: relative;
	color: var(--color-white);
	background-image: url(images/headphones_hero_1.jpg);
	background-size: cover;
	font-family: var(--font-family-primary);
}

#menu-toggle, #menu-toggle-btn {
	display: none;
	position: absolute;
}

.headphones-logo {
	width: 160px;
	height: auto;
}


header .menu-section {
	justify-content: space-between;
	align-content: space-between;
	padding: 2rem;
	flex-wrap: wrap;
}

header .menu-section nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	position: relative;
}

.menu-links {
	display: inline-flex;
	margin: auto 0;
	padding: 0;
	font-size: var(--font-size-small);
	font-weight: 700;
	text-decoration: none;
}

a {
	color: inherit;
	transition: color 0.1s ease;
	text-decoration: none;
}

a:hover, a:active {
	color: var(--color-primary);
	text-decoration: none;
}

.menu-links li {
	margin: auto 1.25rem;
	list-style-type: none;
	text-decoration: none;
}

.hero-section {
	width: 75%;
	text-align: center;
	margin: 20rem auto 0 auto;
}

.hero-title {
	font-size: var(--font-size-xlarge);
	position: relative;
	font-weight: 700;
}

.hero-subtitle {
	display: block;
	font-size: var(--font-size-medium);
	position: relative;
	margin: 0.25rem 0;
	font-weight: 700;
}

.hero-section p {
	margin: 2rem 0;
	line-height: 1.5;
	font-size: var(--font-size-medium);
	font-weight: 400;
}

.hero-button {
	font-size: var(--font-size-button);
	color: var(--color-white);
	background: var(--color-primary);
	border: none;
	padding: 1rem 2rem;
	font-weight: 700;
	border-radius: 24px;
	margin: 1rem auto;
	cursor: pointer;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
	opacity: 1;
	transition: opacity 0.2s ease;
}

.hero-button:hover, .hero-button:active {
	opacity: 0.9;
}

/* Responsive Design Styling for Menu ==== */

/* Up to full size */
@media (max-width: 1200px) {
	header {
		background-position: 42% 50%;
	}
}

/* Up to 480px (mobile) */
@media (max-width: 480px) {
	header {
		background-position: 44% 50%;
	}

	/* Drop-Down */
	.menu-section nav {
		flex-direction: column;
		align-items: center;
	}

	.headphones-logo {
		width: 50%;
		height: auto;
	}

	.menu-links {
		display: none;
		width: 100%;
		flex-direction: column;
		margin: 1rem auto;
		text-align: center;
		font-weight: bold;
		font-size: var(--font-size-button);
	}

	.menu-links li {
		width: 100%;
		margin: 0.5rem auto;
	}

	#menu-toggle-btn {
		background: var(--color-white);
		height: 2px;
		width: 13px;
		position: absolute;
		left: 1rem;
		top: 18px;
		display: block;
	}

	#menu-toggle-btn::before {
		content: "";
		background: var(--color-white);
		height: 2px;
		width: 20px;
		position: relative;
		top: -0.4rem;
		display: block;
		transition: all 0.2s ease;
	}

	#menu-toggle-btn::after {
		content: "";
		background: var(--color-white);
		height: 2px;
		width: 18px;
		position: relative;
		top: 0.3rem;
		display: block;
		transition: all 0.2s ease;
	}

	#menu-toggle:checked ~ .menu-links {
		display: inline-flex;
	}

	#menu-toggle:checked ~ #menu-toggle-btn {
		background: transparent;
	}

	#menu-toggle:checked ~ #menu-toggle-btn::before {
		transform: rotate(45deg);
		top: 3px;
		margin: auto;
	}

	#margin-toggle:checked ~ #menu-toggle-btn::after {
		width: 20px;
		transform: rotate(-45deg);
		top: 1px;
		margin: auto;
	}

	.hero-section {
		margin: 14rem auto 0 auto;
		width: 100%;
	}
}
